<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>Greenwood Demo - Vercel Adapter + Lit SSR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../styles/main.css">
    <!-- TODO see if we can bundle this file -->
    <script type="module" src="/node_modules/@lit-labs/ssr-client/lit-element-hydrate-support.js"></script>
    <!-- TODO double customElement.define issue when combined with getBody for hydration -->
    <!-- <script type="module" src="../components/card.js"></script> -->
    <script type="module">
      // https://lit.dev/docs/ssr/client-usage/
      import { render } from 'lit';
      import { hydrate } from '@lit-labs/ssr-client'; // TODO this needs to be in users package.json and / or import map
      import { getBody } from '../src/pages/products.js';

      globalThis.document.addEventListener('DOMContentLoaded', () => {
        const hydrationData = JSON.parse(document.getElementById('__GWD_HYDRATION_DATA__').textContent || '{}')
        console.log('lets get hydrated!', { hydrationData });
        // TODO this should only run on the products page, not all pages
        hydrate(getBody({}, {}, hydrationData), window.document.body);
      });
    </script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a> | </li>
          <li><a href="/products/">Products</a> | </li>
          <li><a href="/search/">Search</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Demos</h1>
      <p>This is a
        <a href="https://github.com/ProjectEvergreen/greenwood-demo-adapter-vercel" title="Link to demonstration repo">Greenwood demonstration repo</a>
        showcasing various features deployed to and running on Vercel serverless functions.
      </p>

      <section class="products-cards-container">
        <page-outlet></page-outlet>
      </section>
    </main>

    <footer>
      <a href="https://www.greenwoodjs.io/">Greenwood</a>
    </footer>

  </body>

</html>
