<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>Greenwood Demo - Vercel Adapter + Lit SSR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../styles/main.css">
    <script type="module" src="../components/card.ts"></script>
    <script type="module" src="../components/modal.ts"></script>
    <script type="module" src="../spectrum.ts"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a> | </li>
          <li><a href="/products/">Products</a> | </li>
          <li><a href="/search/">Search</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <sp-theme system="spectrum" color="dark" scale="large">
        <sp-button size="xl">I'm a button!</sp-button>

        <sp-action-menu size="xl">
          <span slot="label">More Actions</span>
          <sp-menu-item>
              Deselect
          </sp-menu-item>
          <sp-menu-item>
              Select inverse
          </sp-menu-item>
          <sp-menu-item>
              Feather...
          </sp-menu-item>
          <sp-menu-item>
              Select and mask...
          </sp-menu-item>
          <sp-menu-divider></sp-menu-divider>
          <sp-menu-item>
              Save selection
          </sp-menu-item>
          <sp-menu-item disabled>
              Make work path
          </sp-menu-item>
        </sp-action-menu>
      </sp-theme>
      <h1>Demos</h1>
      <p>This is a
        <a href="https://github.com/ProjectEvergreen/greenwood-demo-adapter-vercel" title="Link to demonstration repo">Greenwood demonstration repo</a>
        showcasing various features deployed to and running on Vercel serverless functions.
      </p>
      <section class="products-cards-container">
        <page-outlet></page-outlet>
      </section>
    </main>

    <footer>
      <a href="https://www.greenwoodjs.dev/">Greenwood</a>
    </footer>

    <app-modal></app-modal>

  </body>

</html>